body{
  background: rgb(227, 224, 224);
  padding-bottom: 50px;
}
header{
  color: whitesmoke;
  height: 40vh;
  width: 100%;
  margin-bottom: 20px;
  background-image: url(./assets/image.png);
  background-position: center;
  background-size: cover;

  .all{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    @media (min-width:768px) {
      padding: 50px;
    }
  }

  .header-text{

    h1, p {
      display: inline-block;
      margin-right: 10px;
    }
    h1{
      color: #fff;
    }
    p{
      color: rgb(208, 206, 206);
    }
  }

}

.one{

  .card1{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link{
    color: skyblue;
  }

  .card3{
    justify-content: space-between;
    background: transparent;
    border: none;

    @media (max-width:576px) {
      gap: 1rem;
    }

    .inner{
      height: 55%;

      @media(max-width:576px){
        height: 7rem;
      }
    }
  }
}

.two{

  .muted{
    background-color: rgb(251, 251, 251);
    color: rgb(165, 164, 164);
    border: 1px solid rgb(203, 202, 202);
  }

  .people{

    @media (min-width:1024px) {
      display: flex;
      white-space: nowrap;
    }
  }

  .headerR{
    background-color: rgb(251, 251, 251);
  }
}

.end{
  display: flex;
  flex-wrap: wrap;

  small{
    min-width: 150px;
    max-width: 300px;
    margin: 10px;
    color: rgb(37, 37, 37);

    @media (max-width: 578px) {
      text-align: center;
    }

    span{
      background-color: rgb(27, 141, 79);
      color: rgb(224, 224, 224);
      padding: 3px 5px;
      border-radius: 5px;
    }
  }
}